@page "/Builder"
@attribute [StreamRendering]
@rendermode InteractiveServer

@using DotaBuilder.Components.Elements
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataLibrary
@using DotaBuilder.Models
@using System.Net
@using DotaBuilder.Components.Data.Classes

<PageTitle>Builder</PageTitle>

<h3>Builder</h3>

<tbody>
    <table class="main-table">
        <tr>
            <td style="width:fit-content"><AvailableItems GlobalVariables=@GlobalVariables></AvailableItems></td>
            <td style="width:25%"><StatisticsItems GlobalVariables=@GlobalVariables></StatisticsItems></td>
        </tr>
        <tr ALIGN="center">
            <td style="vertical-align: middle;"><InventoryItems GlobalVariables=@GlobalVariables></InventoryItems></td>
        </tr>
    </table>
</tbody>

<style>
    .main-table {
        position: absolute;
        top: 15%;
        bottom: 0;
        left: 10%;
        right: 0;
        height: 100%;
        width: 100%;
    }

    .table {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .td {
    }
</style>

@code {
    private GlobalVariables GlobalVariables;

    protected override async Task OnInitializedAsync()
    {
        GlobalVariables = new GlobalVariables();
    }
}