@page "/Builder"
@attribute [StreamRendering]
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.QuickGrid
@using DataLibrary
@using DotaBuilder.Models
@using System.Net
@using DotaBuilder.Components.Classes

<PageTitle>Builder</PageTitle>

<h3>Builder</h3>

<tbody>
    <table class="table">
        <tr>
            <td style="width:fit-content"><AvailableItems></AvailableItems></td>
            <td>STATISTICS TBD</td>
        </tr>
        <tr>
            <td>INVENTORY TBD</td>
        </tr>
    </table>
</tbody>