@page "/counter"
@rendermode InteractiveServer

<PageTitle>CZY JEST FIT</PageTitle>

<h1>FIT WSKAŹNIK</h1>

<p role="status">@message</p>

<button class="btn btn-primary" @onclick="IncrementCount">KLIKNIJ BY SPRAWDZIC CZY FIT</button>

@code {
    private bool currentCount = false;
    private string message = string.Format("CZY FIT?: NIE");

    private void IncrementCount()
    {
        message = string.Format("CZY FIT?: TAK");
    }
}
