@using DataLibrary
@using DotaBuilder.Components.Data
@using DotaBuilder.Components.Data.Classes
@using DotaBuilder.Models
@inject IDataAccess _data
@inject IConfiguration _config

@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <body>
        <table class="styled-table" style="overflow-x:auto;">
            <td>
                <table class="sub-table">
                    <tr>
                        <td>Consumables</td>
                    </tr>
                    <tr>
                        @foreach (ItemClass item in items)
                        {
                        <tr>
                            <Item itemClass="item" OnClickEvent="OnClick" OnHoverEvent="OnHover"/>
                        </tr>
                        }
                    </tr>
                </table>
            </td>
            <td>
                <table class="sub-table">
                    <tr>
                        <td>Attributes</td>
                    </tr>
                    <tr>
                        @foreach (ItemClass item in items)
                        {
                        <tr>
                            <Item itemClass="item" OnClickEvent="OnClick" OnHoverEvent="OnHover" />
                        </tr>
                        }
                    </tr>
                </table>
            </td>
        </table>
    </body>
}

<style>
    .sub-table {
    }

    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
        table-layout: auto;
    }

    td {
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
</style>

@code {

    public List<ItemClass> items = new List<ItemClass>();

    public ItemLoader itemLoader;

    protected override async Task OnInitializedAsync()
    {
        if(itemLoader == null)
        {
            itemLoader = new ItemLoader(_data, _config);
            await itemLoader.LoadDataAsync();
            items = itemLoader.items;
        }
    }

    public void OnClick(EventCallbackItemArgs args)
    {
        Console.WriteLine("[Click][AvailableItems] Button ID: {0}", args.Name);
    }

    public void OnHover(EventCallbackItemArgs args)
    {
        Console.WriteLine("[Hover][AvailableItems] Button ID: {0}", args.Name);
    }
}

