@using DotaBuilder.Components.Data
@typeparam T
@inject DragAndDropService DragAndDropService

<div draggable="true" @ondragstart="@OnDragStart">
        @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Zone { get; set; }

    [Parameter]
    public T Data { get; set; }

    private void OnDragStart()
    {
        DragAndDropService.StartDrag(Data, Zone);
    }
}
